.body {
  overflow: hidden;
}
/* Container styles */
.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3px;
  gap: 3px; /* Adds space between the containers */
}


.container {
  background-color: #fff;
  padding: 20px;
  width: 400px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #2e3f58;  
}

.info-container {
  background-color: #fff;
  padding: 20px;
  width: 400px;
  font-family: Arial, sans-serif;
  flex: 1;
  overflow: hidden;
}

.configuration-heading {
  background-color: #2e3f58; /* Blue background color */
  color: white; /* White text color */
  padding: 10px;
  text-align: center; /* Center align the heading */
  margin-bottom: 2x; /* Adjust margin as needed */
  font-size: 1.2em;
}

.info-container h2 {
  margin-top: 0;
  color: #333;
}

#infoList {
  list-style: none;
  padding: 0;
}

#infoList li {
  margin-bottom: 10px;
  background: #e9e9e9;
  padding: 10px;
  border-radius: 4px;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.toggle-label {
  flex: 1;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider,.sliderDis{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.slider{
  cursor: pointer;
}

.slider:before,.sliderDis:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.state-text {
  margin-left: 10px;
  font-size: 14px;
  color: #555;
}

.threshold-wrapper {
  margin-top: 15px;
  width: 100%;
}

label[for="threshold"] {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2e3f58;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #455a7a;
}

#stateEnableDisable,#stateMode {
  width: 40px;
}

.ul-protection-list {
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 0;
  border: 0.5px solid #2e3f58; 
  max-height: 290px; /* Set maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.ul-protection-list li span {
  font-size: 12px;
}

li.header-row {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #2e3f58; /* Dark blue background for header row */
  color: white; /* White text color for better readability */
}

li.header-row span {
  flex: 1;
  text-align: left;
}

li.header-row .header-name {
  flex: 2; /* Adjust the width of the name column if needed */
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff; /* White background for list items */
  color: #000; /* Black text color */
}

li span {
  flex: 1;
  text-align: left;
}

li .list-name {
  flex: 2; /* Adjust the width of the name column if needed */
}

.h2-protection-list {
  margin: 5px 0; 
  font-size: 1.2em;
}